<center>
    <h1 style="font-weight:bold; margin-bottom:30px; border-bottom:dashed; width:20%">Author</h1>
    <div class="container" style="width: 80%">
    <div class="row">
        <div class="col-md-4">
            <img class="img-circle" src="~/Resources/mickey.jpg" style="width:200px" /><br />
            <h5 style="font-weight:bold;">Micky Yudi Utama</h5>
            <h5>13514011</h5>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="~/Resources/nobita.jpg" style="width:200px"/><br/>
            <h5 style="font-weight:bold;">Ade Yusuf Rahardian</h5>
            <h5>13514079</h5>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="~/Resources/minnie.jpeg" style="width:200px" /><br />
            <h5 style="font-weight:bold;">Atika Azzahra Akbar</h5>
            <h5>13514077</h5>
        </div>
    </div>
    </div>
</center>

