@{
    ViewBag.Title = "Home Page";
}
<center>
    <div class="jumbotron" style="background-color:#6ae2b3; width: 80%; margin-top:30px;">
        <img src="~/Resources/iconkicau.png" style="width:300px;" />
        <h6 class="lead" style="text-align:center; font-weight:bold; font-size:15px; margin-left:40px; margin-right:40px;">Web pencarian kicauan dari warga Bandung yang masih tercecer untuk Bandung</h6>
        <p><a href="~/Home/Form" class="btn btn-primary btn-lg" style="background-color:#fc4456;">Cari kicauan &raquo;</a> </p>
    </div>
</center>